
<div class="container container-form-2">
  <div role="tabpanel" class="tab-pane" id="pyramid_pairs">  
    <%= render partial: 'search/lightbox', locals: {urls: @list} %>
  </div>
  <%= will_paginate @list %>
</div>


