<% if @list.any? %>
  <% @list.each do |row_of_urls| %>
    <div class="row mt-40">
      <% row_of_urls.each_with_index do |object, index| %>
        <div class="col-md-3" align="center">
          <%= image_tag(row_of_urls[index]) %>
        </div>
      <% end %>
    </div>
  <% end %>
<% else %>
  <h4 align="center">Can't find anyting, try again!</h4>
<% end %>
