<div class="container container-form-2">
  <% if @list.present? && @list.any? %>
    <% @list.each do |row_of_urls| %>
      <div class="row mt-40">
        <div class="col-md-12">
          <% row_of_urls.each_with_index do |object, index| %>
            <div class="col-md-2" align="center">
              <%= image_tag(row_of_urls[index], class: "img-fit") %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  <% else %>
    <h4 align="center">Can't find anything, try again!</h4>
  <% end %>
</div>
